<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APNS-Pusher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE8570ED1FD0383E004F1FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8571061FD0383F004F1FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8571111FD0383F004F1FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
